@charset: utf-8;

html {
	background: #5DCEC6;
}

body {
	border-top: 8px solid #FF9F40;
	margin: 0;
	font-family: "Helvetica", sans-serif;
	line-height: 1.4em;
}

.container {
	background: #FFF;
	width: 600px;
	margin: 0 auto;
}

#content {
	padding: 15px;
}

p {
	font-size: 14px;
}

h1, h2, h3 {
	margin: 0;
}

h1 {
	background: #FFF;
	padding: 30px 15px 15px 15px;
	color: #FFF;
	font-family: "Helvetica", sans-serif;
}

h2 {
	background: #CCC;
	padding: 10px 0 10px 15px;
	color: #777;
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
	
}

h3 {
	background: #FFF;
	padding: 10px 0 10px 0;
	color: #333;
	font-family: "Helvetica", sans-serif;
	font-size: 18px;
	border-bottom: 1px solid #333;
}

table, tr, td {
	border: 1px solid #CCC;
	border-collapse: collapse;
}

table td {
	padding: 5px;
}
