<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset-utf-8">
	<title>Gallery</title>
	<style type="text/css" media="screen">
	.container {
		margin: 0 3%;
	}
	
	article {
		width: 220px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #F3F3F3;
	}
	
	footer {
		clear: both;
	}
	</style>
</head>
<body>
	<div class="container">
		<header>
			<h1>This is a header.</h1>
		</header>
		<section>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
			<article>
				<h2>Title</h2>
					<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing. </p>
			</article>
		</section>
		<footer>
			<p>This is a footer.</p>
		</footer>
	</div>
</body>
</html>